body {
  min-height: 75rem;
  padding-top: 4.5rem;
  margin-bottom: 100px;
  font-family: 'Righteous', cursive;
  color: #2B4038;
  background-color: #F0ECED;
}

p {
  font-size: 20px;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

/* Navbar */

.navbar {
  background-color: #92A399;
}

.dropdown-menu {
  background-color: #92A399;
}

.dropdown-item:hover {
  background-color: #F0ECED;
  color: #2B4038;
}

.dropdown-item {
  color: #F0ECED;
}

/* Navbar */

/* Hero */

@media (min-width: 992px) {
  .rounded-lg-3 { border-radius: .3rem; }
}

.my-name {
  font-family: 'WindSong', cursive;
  font-size: 70px;
}

.btn-primary {
  color: #2B4038;
  background-color: #92A399;
  border: 1px solid #2B4038;
  box-shadow: 10px 10px 6px #2B4038
}

.btn-primary:hover {
  color: #92A399;
  background-color: #2B4038;
  border: 1px solid #92A399;
  cursor: pointer;
  box-shadow: none;
}

/* Hero */

/* Footer */

.footer-cont {
  background-color: #92A399;
}

.text-muted {
  text-align: center;
  opacity: 70%;
}

/* Footer */

/* Home */

.home-img {
  background-color: rgba(206, 120, 107, 0.3);
  box-shadow: 0 0 20px #2B4038;
  border-radius: 20px;
  max-height: 500px;
}

.homeux {
  padding-bottom: 10px;
}

.libriux {
  padding-top: 50px;
  padding-bottom: 30px;
}

.book-img {
  max-height: 400px;
}

/* Home */

/* About Me */

.my-photo {
  max-height: 85%;
}

.stilogo {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* About Me */

/* Contatti */

.form-template {
  font-size: 20px;
  text-align: center;
}

label {
  text-align: left;
  align-self: center;
}

input[type=text], select {
  width: 100%;
  padding: 20px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
}

.textarea, select {
  width: 100%;
  padding: 20px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
}

input[type=email], select {
  width: 100%;
  padding: 20px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #6A4743;
  color: #F8CDBA;
  padding: 20px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 7px 7px 3px black;
}

input[type=submit]:active {
  background-color: #CB7367;
  color: #F8CDBA;
  box-shadow: none;
}

/* Contatti */

/* Skills */

.card {
  border: none;
  background-color: #F0ECED
}

/* Skills */

/* Portfolio */

.p-cover:hover {
  box-shadow: 10px 10px 6px #6A4743;
}

/* Portfolio */
